
body {
    background-image: url("https://64.media.tumblr.com/9f8977d10774bd24cb6ec2a1d0fa4fdc/3841b5b32d46d942-67/s2048x3072/4dd90fca0c879cd5de3065b642f24ea20ff5d407.jpg");
    background-size: cover; /* Makes the image cover the entire area */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-position: center; /* Centers the image */
    height: 100vh; 
    text-align: center; /* Center the text and elements globally */
    opacity: 0.6;
}

h1 {
    font-family: Courier;
    color: rgb(0, 0, 0); 
    font-size: 55px; /* Font size */
    margin: 0 auto;
    text-align: center;
}

#story {
    width: 250px;
    margin: 0 auto; /* Center the input field */
}

p {
    font-size: 20px;
    font-family: Courier;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;   
}

#submit-button {
    font-size: 20px;
    font-family: Courier;
    color: rgb(0, 0, 0); 
    text-align: center;
    width: 150px;
    height: 38px;
    background-color: transparent; /* Optional */
    border: 1px solid rgb(0, 0, 0); /* Optional */
    margin: 10px auto; /* Centers the button */ 
}

#submit-button:hover {
    background-color: rgb(200, 200, 200); /* Optional hover effect */
    cursor: pointer; 
}
